#texto_ingles{
    float: left;
    background-color: aquamarine;
    width: 40%;
}

#texto_portugues{
    float: left;
    background-color: aqua;
    width: 40%;
}

#texto_portugues ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#texto_ingles ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#texto_ingles li{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    background-color: azure;
    font-family: arial;
    font-size: 20;
}

#texto_portugues li{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    background-color: azure;
}

#texto_ingles li div{
    width: 100%;
    height: 90px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: bisque;
    font-family: arial;
    font-size: 20;
}

#texto_portugues li div{
    width: 100%;
    height: 90px;
    margin-top: 1px;
    margin-left: 1px;
    background-color: bisque;
    font-family: arial;
    font-size: 20;
}